<style>
  .title-container-1 {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  .title-container-2 {
    margin-left: 80vw;
    margin-top: 1%;
  }

  .fountain-container-1 {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: transparent;
    z-index: 1;
    position: relative;
    border-bottom:2px solid white;
  }

  .fountain {
    width: 100vw;
    object-fit: cover;
  }

  .preview-parent-1 {
    display:flex;
    justify-content:center;
  }

  .preview-container-1 {
    margin-top:10vh;
    margin-bottom:5%;
    width:70%;
    background-color:#ceb888;
    border-radius:0.5vw;
    border: 2px solid white;
  }

  .preview-1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:white;
    display:flex;
    justify-content:center;
  }

  .preview-2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:white;
    font-size:80%;
    font-style:italic;
    display:flex;
    justify-content:center;
  }

  .bar-container-1 {
    display: flex;
    margin-left:0;
    justify-content: center;
  }

  .grey-front-blurb-container-1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:white;
    width:70%;
    margin-top: 12%;
    background-color:grey;
    border-radius: 0 0.5vw 0.5vw 0;
    padding: 5%;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  .bottom-space-1 {
    margin-top:20%;
  }

  .space-container-1 {
    display: flex;
  }

  .space {
    margin-top: 10%;
    flex-grow: 1;
  }

  .disclaimer-container-1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:white;
    width:70%;
    margin-top: 6%;
    background-color: #ceb888;
    border-radius: 0.5vw 0 0 0.5vw;
    padding: 5% 0 5% 5%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    margin-left:25%;
  }

  .italic {
    font-style: italic;
  }

  .sample-header-container-1 {
  display:flex;
  align-items:center;
}

.sample-header-container-1 > * {
  margin-right:2%;
}

.monitor-1 {
  font-size:300%;
}

</style>

<div class="fountain-container-1">
  <img class="fountain" src="/engSideView-croppedFurther.jpg" alt="Fountain">
</div>
<div class="title-container-1">
  <div class="title-container-2">
    <h1 class = "italic">BoilerReviews</h1>
  </div>
</div>
<div class = "preview-parent-1">
  <div class = "preview-container-1">
    <h3 class = "preview-1">Quick Summaries and Statistics about your favorite Purdue Professors</h3>
    <p class = "preview-2">Enter a professor's name to get started!</p>
  </div>
</div>
<div class = "bar-container-1">
  <app-searchbar></app-searchbar>
</div>
<div class = "grey-front-blurb-container-1">
  <app-qa></app-qa>
</div>
<div class = "disclaimer-container-1">
  <app-disclaimer></app-disclaimer>
</div>
<div class = "grey-front-blurb-container-1">
  <div class = "sample-header-container-1">
    <h1>Sample Professor Info</h1>
    <div class = "monitor-1">🖥️</div>
  </div>
  <app-professor-card
    [GPA] = "3.5"
    [summary] = "'Great professor, but the class is hard.  Make sure to study!'"
  ></app-professor-card>
</div>









<div class = "space-container-1">
  <p class = "space"></p>
</div>
<router-outlet />
