<div class = "justify">
  <button class="button-with-text" (click)="search()">
    <img src="/button.png" alt="Button Image" class="button-image">
    <span class="button-text">Search</span>
  </button>
  <button class="button-with-text" (click) = "qa()">
    <img src="/button.png" alt="Button Image" class="button-image">
    <span class="button-text">Q&A</span>
  </button>`
  <button class = "button-with-text">
    <img src = "/button.png" alt = "Button Image" class = "button-image">
    <span class = "button-text">Example</span>
  </button>
</div>
