.search-back {
  position:absolute;
  z-index:1;
  margin-top:22vh;
  left:31.7vw;
}

.search {
  position:absolute;
  z-index:2;
  justify-self:center;
  height:10vh;
  width:28.5vw;
  border-radius:5px;
  margin-top:50vh;
}

.center {
  justify-content:center;
  display:flex;
  margin-top:3vh;
}

.results-1 {
  position:relative;
  z-index:2;
  background-color:white;
  color:black;
  width:28.5vw;
  border-radius:10px;
  margin-top:60vh;
  justify-self:center;
  border:3px solid black;
}

.result {
  margin-left:5%;
}

.width {
  width:100%;
  justify-content:left;
}

.card {
  margin-top:5vh;
}
