.search-back {
  position:absolute;
  z-index:1;
}

.search {
  position:absolute;
  z-index:2;
  top:306px;
  left:523px;
  height:10vh;
  width:28.5vw;
}

.center {
  justify-content:center;
  display:flex;
}
