<div class="center">
  <img id="back" class="search-back" src="/back-thing.png">
  <input
    [(ngModel)]="name"
    (keyup.enter)="onEnter()"
    id="searchInput"
    class="search"
    type="text"
    placeholder="Search your professor here..."
  />
</div>
<div class="results-1">
  <div *ngFor="let result of results">
    <button class = "width" (click)="onNameClick(result)">
      <p class = "result">{{ result }}</p>
    </button>
  </div>
</div>
<div class = "card">
<app-professor-card  *ngIf="gpas.length > 0" [name]="name" [gpas]="gpas" [classes]="classes" [summary]="'none yet'">
</app-professor-card>
</div>
