<h1>Common Q&A</h1>
<p class = "question-1">How do you get your data and summaries?</p>
<div class = "answer-container-1">
  <div class = "word-wrap">
    <p>
      For our summaries, we gather reviews on each professor on rateMyProfessors. Then, we feed these reviews
      to Generative AI to create a summary of them all.
    </p>
    <p>
      For our statistics, we gather data from Purdue's course catalog and grade distributions.
      We also gather information like average GPA in a class through BoilerGrades.
    </p>
  </div>
</div>
<p class = "question-1">What information do you provide about a professor?</p>
<div class = "answer-container-1">
  <div class = "word-wrap">
    <p>
      Currently, we provide a summary of reviews on a professor, the average GPA in their class, and
      whether or not it's likely that they will improve next semester based on reviews through time.
    </p>
  </div>
</div>
