.answer-container-1 {
  margin-left: 5%;
  margin-bottom:2%;
}

.question-1 {
  font-style:italic;
}

.word-wrap {
  word-wrap: break-word;
  max-width:90%;
}

.header-container-1 {
  display:flex;
  align-items:center;
}

.header-container-1 > * {
  margin-right:2%;
}

.exclamation-1 {
  font-size:300%;
  color:red;
}
