<h1>Common Q&A</h1>
<app-question-answer
  [question]="'How do you get your data and summaries?'"
  [answer]="'For our summaries, we gather reviews on each professor on rateMyProfessors. Then, we feed these reviews to Generative AI to create a summary of them all. For our statistics, we gather data from Purdue\'s course catalog and grade distributions. We also gather information like average GPA in a class through BoilerGrades.'">
</app-question-answer>
<app-question-answer
  [question]="'What data do you provide?'"
  [answer]="'We provide summaries of reviews from rateMyProfessors on Purdue Professors, statics about average GPA and other things, and also a prediction of whether or not the professor will improve in the following semester. We\'re always adding new features though, so be sure to check for new data in the future!'"
>
</app-question-answer>
